/* Estilos generales para el proyecto */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #333;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #575757;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #575757;
}


/* Estilo del header */
header {
  background-image: url('../img/hero.jpg'); /* Ruta a la imagen */
  background-size: cover; /* Ajusta la imagen para cubrir el área del header */
  background-position: center; /* Centra la imagen */
  color: #fff;
  text-align: center;
  padding: 100px 20px; /* Espaciado para el contenido del header */
}

header h1 {
  margin: 0;
  font-size: 3em;
}


/* Estilo del footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}