<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercio | Magento</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <a href="index.html">Inicio</a>
        <a href="acerca.html">Acerca de</a>
        <a href="comercio.html">Comercio</a>
        <a href="contacto.html">Contacto</a>
        <a href="login.html">Login</a>
        <a href="register.html">Registro</a>
    </nav>




    <h1>Productos en Comercio</h1>
    <p>Descubre nuestras zapatillas y productos en venta.</p>


    <main>
      <h2>Nuestras zapatillas</h2>
      <div class="product">
        <img src="img/Nike Air Force 1 '07.jpg" alt="Tenis Para Dama">
        <h3>Nike Air Force 1 '07</h3>
        <p>Sumarás más puntos con este modelo legendario clásico. 
          Estos tenis originales de básquetbol, que combinan la 
          comodidad para la cancha con un estilo para fuera de ella, 
          cuentan con cuero impecable y detalles divertidos de estampado 
          de cachemira para brindar un estilo único. Además, las unidades 
          Nike Air ocultas y la confección duradera de los años 80 agregan 
          la comodidad que esperas de los AF1.</p>
        <p>Precio: $100</p>
      </div>
      <div class="product">
        <img src="img/AIR+FORCE+1+'07+LV8+1.jpg" alt="Tenis Para Hombre">
        <h3>Nike Air Force 1 '07 LV8</h3>
        <p>Estos AF1 acaban de ganar el premio al "Mejor estilo" de regreso a 
          clases. Las capas de lona y cuero sintético crean una estética vintage 
          de inspiración universitaria. No te olvides de dejar tu huella: los gráficos 
          de las plantillas están inspirados en los anuarios escolares, y ya los firmamos.</p>
        <p>Precio: $120</p>
      </div>
      <!-- Agrega más productos según sea necesario -->
    </main>






</body>




<footer>
  <p>&copy; 2024 Magento</p>
</footer>

</html>





























